body{
  background-color: #ccd1e4af;
  margin: 0;
  position: relative;
}
@media (max-width: 460px), (max-height: 440px){
  body{
    min-width: 320px;
  }
}

#main{
    font-size: 13px;
    background-color: #FAF3F3;
    padding: 10px;
    border-radius: 5px;
    margin: 30px 8px;
  }
@media (max-width: 460px){
   #main {
      margin: 0;
      min-width: none;
    }
  }
  #title{
    text-align: center;
    background: #CCD1E4;
    font-size: 30px;
    padding: 10px;
    margin: 0;
  }
  #image{
    display: block;
    width: 120px;
    height: 175px;
    margin: 0px auto;
  }
  @media (max-width: 460px){
    #image{
      width: 40%;
    }
  }
  #img-div{
    padding: 10px;
    background: white;
    margin: 0;
  }
  #img-caption{
    text-align: center;
    padding: 5px 0;
  }
  p{
    text-align: justify;
    font-size: 13px;
    line-height: 1.6em;
    margin: 0 40px;
  }
  h3{
    font-size: 18px;
    margin: 0 40px;
  }
  ul{
    font-size: 13px;
    line-height: 1.6em;
    margin: 0 40px;
  }
  #more-info{
   text-align: right;
   margin: 0 40px;
  }
  footer{
    background-color: rgba(148, 116, 116, 0.527);
    color: rgba(23, 21, 139, 0.603);
  }
